.choose-coffee {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.choose-coffee_content {
    flex: 0 1 45%;
    text-align: center;
}
