.contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.contact {
    flex: 0 1 39%;
    text-align: center;
}

.contact__phone {
    padding: 4px 0 0; /* Compensations different icon height */
}

.contacts_icon {
    margin: 0 0 27px;
}

.contact_order {
    display: inline-block;
    margin: 26px 0 0;
    color: #e6e6e6;
    font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    vertical-align: top;
    letter-spacing: 1.3px;
}

.contact_phone {
    display: inline-block;
    margin: 25px 0 0;
    color: #e6e6e6;
    font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    vertical-align: top;
    letter-spacing: 1.4px;
}
