.section {

}

.section__index {
    height: 835px;
    /*background-image: url("../images/section-bg-index.jpg");*/
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
}

.section__quick-result {
    height: 1020px;
}

.section__choose-coffee {
    height: 1295px;
}

.section__frothing {
    height: 926px;
    background-image: url("../images/section-bg-frothing.png");
    background-repeat: no-repeat;
    background-position: right center;
}

.section__specifications {
    padding: 30px 0 50px;
    background-color: #151515;
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    background-position: center;
}

.section__boutiques {
    height: 645px;
    background-image: url("../images/section-bg-boutiques.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section__contacts {
    height: 420px;
}
