.model {
    position: relative;
    width: 418px;
    height: 540px;
    margin: 45px auto 65px;
}

.model_signature {
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 242px;
    height: 40px;
}

.specifications {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
}

.specifications_block {
    flex: 0 1 22%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.specifications_item {
    position: relative;
    padding: 0 0 0 40px;
}
.specifications_item:not(:last-child) {
    margin: 0 0 22px;
}

.specifications_icon {
    position: absolute;
    top: 5px;
    left: 0;
}

.specifications_title {
    margin: 0 0 4px;
    font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.specifications_description {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
}
