/*
    Font family:

    font-family: "BorkDisplayRegilar", Helvetica, Arial, sans-serif;
    font-family: "AkzidenzGroteskProLight", Helvetica, Arial, sans-serif;
    font-family: "AkzidenzGroteskProRegular", Helvetica, Arial, sans-serif;
    font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
    font-family: "AkzidenzGroteskProExt", Helvetica, Arial, sans-serif;
*/

html {
    min-height: 100%;
}

body {
    height: 100%;
    background: #1b1b1b;
    color: #fff;
    font-family: "AkzidenzGroteskProLight", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .4px;
}

h1 {
    margin: 0;
    color: #fff;
    font-family: "BorkDisplayRegilar", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 36px;
}

h2 {
    margin: 0 0 23px;
    color: #fff;
    font-family: "AkzidenzGroteskProExt", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 32px;
}

h3 {
    margin: 0;
    color: #fff;
    font-family: "AkzidenzGroteskProExt", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
}

a,
a:hover {

}

.button {
    display: inline-block;
    height: 25px;
    padding: 0 20px;
    border: 2px solid #FC642A;
    border-radius: 26px;
    background: transparent;
    color: #e6e6e6;
    font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    vertical-align: baseline;
    letter-spacing: 1.3px;
    cursor: pointer;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    height: 55px;
    padding: 0 25px;
    background: #000;
    line-height: 55px;
    text-align: right;
}

.header_brand {
    margin: 0 25px 0 0;
    font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header_phone {
    margin: 0 0 0 25px;
    color: #fc642a;
    font-size: 15px;
    letter-spacing: 0;
}

.logo {
    position: absolute;
    top: 19px;
    left: 25px;
    width: 83px;
    height: 17px;
    line-height: 17px;
}

.main {
    padding: 55px 0 0;
}

.section {

}

.section__index {
    height: 835px;
    background-image: url("../images/section-bg-index.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section__specifications {
    padding: 30px 0 50px;
    background-color: #151515;
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    background-position: center;
}

.section__boutiques {
    height: 645px;
    background-image: url("../images/section-bg-boutiques.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section__contacts {
    height: 420px;
}

.container {
    max-width: 1050px;
    height: 100%;
    margin: 0 auto;
}

.container__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

/* Specifications section */

.model {
    position: relative;
    width: 418px;
    height: 540px;
    margin: 45px auto 65px;
}

.model_signature {
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 242px;
    height: 40px;
}

.specifications {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-around;
}

.specifications_block {
    flex: 0 1 22%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.specifications_item {
    position: relative;
    padding: 0 0 0 40px;
}
.specifications_item:not(:last-child) {
    margin: 0 0 22px;
}

.specifications_icon {
    position: absolute;
    top: 5px;
    left: 0;
}

.specifications_title {
    margin: 0 0 4px;
    font-family: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.specifications_description {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
}

/* Boutiques section */

.boutiques {
    text-align: center;
    width: 50%;
}

.contacts {
    flex: 0 1 35%;
}

.footer {
    padding: 30px 0;
    text-align: center;
    opacity: .5;
}
