html {
    min-height: 100%;
}

body {
    box-sizing: border-box;
    height: 100%;
    background: #1b1b1b;
    color: #fff;
    font-family: $font-AkzidenzGroteskProLight;
    letter-spacing: .4px;

    @include mq('phone') {
        min-width: 320px;
        font-size: 14px;
        line-height: 20px;
    }

    @include mq('tablet') {
        min-width: 640px;
        font-size: 15px;
        line-height: 23px;
    }

    @include mq('desktop') {
        min-width: 940px;
        font-size: 16px;
        line-height: 24px;
    }

    @include mq('extra-desktop') {
        min-width: 1281px;
        font-size: 16px;
        line-height: 24px;
    }
}

h1 {
    color: #fff;
    font-family: $font-BorkDisplayRegilar;
    font-weight: 400;

    @include mq('phone') {
        font-size: 18px;
        line-height: 24px;
    }

    @include mq('tablet') {
        margin: 0 0 18px;
        font-size: 20px;
        line-height: 32px;
    }

    @include mq('desktop') {
        margin: 0 0 18px;
        font-size: 24px;
        line-height: 36px;
    }

    @include mq('extra-desktop') {
        margin: 0 0 18px;
        font-size: 24px;
        line-height: 36px;
    }
}

h2 {
    color: #fff;
    font-family: $font-AkzidenzGroteskProExt;
    font-weight: 400;

    @include mq('phone') {
        margin: 0 0 12px;
        font-size: 18px;
        line-height: 25px;
    }

    @include mq('tablet') {
        margin: 0 0 16px;
        font-size: 20px;
        line-height: 26px;
    }

    @include mq('desktop') {
        margin: 0 0 23px;
        font-size: 24px;
        line-height: 32px;
    }

    @include mq('extra-desktop') {
        margin: 0 0 23px;
        font-size: 24px;
        line-height: 32px;
    }
}

h3 {
    margin: 0 0 16px;
    color: #fff;
    font-family: $font-AkzidenzGroteskProExt;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

p {
    margin: 0;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color .2s;

    &:hover {
        color: #ccc;
        text-decoration: none;
    }
}

img {
    display: inline-block;
    vertical-align: top;
}

button:focus {
    outline: none;
}

input::-ms-clear {
    display: none;
}
