.frothing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;

    @include mq('phone') {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @include mq('tablet') {
        height: 655px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @include mq('desktop') {
        height: 770px;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    @include mq('extra-desktop') {
        height: 930px;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    &_content {
        text-align: center;

        @include mq('phone') {
            flex: 0 1 90%;
        }

        @include mq('tablet') {
            flex: 0 1 39%;
        }

        @include mq('desktop') {
            flex: 0 1 39%;
        }

        @include mq('extra-desktop') {
            flex: 0 1 39%;
        }

        &__text {
            @include mq('phone') {
                margin: 0 0 60px;
            }
        }

        &__photo {

        }
    }

    &_photo {
        @include mq('phone') {
            width: 100%;
        }
    }
}
