.owl-dots {
    width: 50%;
    height: 2px;
    margin: 10px auto 0;
    background: rgba(252, 100, 42, .3);
}

.owl-dot {
    display: inline-block;
    width: 25%;
    height: 100%;
    vertical-align: top;

    &.active {
        background: rgba(252, 100, 42, 1);
    }
}
