.coffee {
    margin: 0 auto 30px;
    text-align: center;

    &_preview {
        display: inline-block;
        vertical-align: top;

        @include mq('phone') {
            height: 195px;
            margin-bottom: 30px
        }

        @include mq('tablet') {
            height: 180px;
            margin-top: 50px;
            margin-bottom: 30px
        }

        @include mq('desktop') {
            height: 270px;
            margin-top: 50px;
            margin-bottom: 30px
        }

        @include mq('extra-desktop') {
            height: 330px;
            margin-top: 100px;
            margin-bottom: 30px
        }
    }

    &_name {
        @include mq('phone') {
            font-size: 16px;
            line-height: 24px;
        }

        @include mq('tablet') {
            font-size: 18px;
            line-height: 24px;
        }

        @include mq('desktop') {
            font-size: 18px;
            line-height: 24px;
        }

        @include mq('extra-desktop') {
            font-size: 18px;
            line-height: 24px;
        }
    }
}
