.boutiques {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include mq('phone') {
        height: 485px;
    }

    @include mq('tablet') {
        height: 405px;
    }

    @include mq('desktop') {
        height: 540px;
    }

    @include mq('extra-desktop') {
        height: 645px;
    }

    &_content {
        text-align: center;

        @include mq('phone') {
            flex: 0 1 70%;
        }

        @include mq('tablet') {
            flex: 0 1 60%;
        }

        @include mq('desktop') {
            flex: 0 1 40%;
        }

        @include mq('extra-desktop') {
            flex: 0 1 40%;
        }
    }
}
