.section {

    &__index {
        background-image: url("../images/index.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include mq('phone') {
            background-image: url("../images/index-phone.jpg");
        }
    }

    &__gallery {
        position: relative;

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            z-index: -1;
            background: #000;
            content: '';

            @include mq('phone') {
                height: 380px;
            }

            @include mq('tablet') {
                height: 480px;
            }

            @include mq('desktop') {
                height: 520px;
            }

            @include mq('extra-desktop') {
                height: 600px;
            }
        }
    }

    &__quick-result {
        position: relative;
        background: #000;
    }

    &__choose-coffee {
        background: #000;
    }

    &__frothing {
        background-color: #000;
        background-repeat: no-repeat;

        @include mq('phone') {
            background: #000;
        }

        @include mq('tablet') {
            background-image: url("../images/frothing-tablet.png");
            background-position: center;
        }

        @include mq('desktop') {
            background-image: url("../images/frothing-desktop.png");
            background-position: center;
        }

        @include mq('extra-desktop') {
            background-image: url("../images/frothing-extra-desktop.png");
            background-position: center;
        }
    }

    &__specifications {
        padding: 30px 0 94px;
        background-color: #151515;
        background-image: url("../images/specifications.png");
        background-repeat: repeat;
        background-position: center;

        @include mq('phone') {
            background: none;
        }
    }

    &__boutiques {
        position: relative;
    }

    &_icon {
        @include mq('phone') {
            margin: 0 0 15px;
        }

        @include mq('tablet') {
            margin: 0 0 20px;
        }

        @include mq('desktop') {
            margin: 0 0 25px;
        }

        @include mq('extra-desktop') {
            margin: 0 0 25px;
        }
    }
}
