.quick-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    @include mq('phone') {
        min-height: 650px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @include mq('tablet') {
        height: 365px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @include mq('desktop') {
        height: 500px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @include mq('extra-desktop') {
        height: 765px;
        padding-top: 128px;
        padding-bottom: 128px;
    }

    &_content {
        text-align: center;

        @include mq('phone') {
            flex: 0 1 100%;
        }

        @include mq('tablet') {
            flex: 0 1 39%;
        }

        @include mq('desktop') {
            flex: 0 1 39%;
        }

        @include mq('extra-desktop') {
            flex: 0 1 39%;
        }

        &__photo {
            height: 100%;
            text-align: right;

            @include mq('phone') {
                height: 340px;
                text-align: center;
            }
        }
    }

    &_photo {
        display: inline-block;
        vertical-align: top;
        height: 100%;
    }
}
