.container {
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;

    @include mq('phone') {
        padding-right: 10px;
        padding-left: 10px;
    }

    @include mq('tablet') {
        padding-right: 50px;
        padding-left: 50px;
    }

    @include mq('desktop') {
        padding-right: 75px;
        padding-left: 75px;
    }

    @include mq('extra-desktop') {
        padding-right: 195px;
        padding-left: 195px;
    }
}
