.choose-coffee {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;

    &_content {
        flex: 0 1 45%;
        text-align: center;
    }
}
