.header {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: #000;
    text-align: right;

    @include mq('phone') {
        height: 43px;
        padding: 0 10px;
        line-height: 43px;
    }

    @include mq('tablet') {
        height: 55px;
        padding: 0 25px;
        line-height: 55px;
    }

    @include mq('desktop') {
        height: 55px;
        padding: 0 25px;
        line-height: 55px;
    }

    @include mq('extra-desktop') {
        height: 55px;
        padding: 0 25px;
        line-height: 55px;
    }

    &_logo {
        position: absolute;
        width: 83px;
        height: 17px;
        line-height: 17px;

        @include mq('phone') {
            top: 14px;
            left: 10px;
            width: 71px;
            height: 15px;
        }

        @include mq('tablet') {
            top: 19px;
            left: 25px;
            width: 83px;
            height: 17px;
        }

        @include mq('desktop') {
            top: 19px;
            left: 25px;
            width: 83px;
            height: 17px;
        }

        @include mq('extra-desktop') {
            top: 19px;
            left: 25px;
            width: 83px;
            height: 17px;
        }
    }

    &_brand {
        font-family: $font-AkzidenzGroteskProMd;
        text-transform: uppercase;
        letter-spacing: 1px;

        @include mq('phone') {
            display: none;
        }

        @include mq('tablet') {
            margin: 0 20px 0 0;
            font-size: 13px;
        }

        @include mq('desktop') {
            margin: 0 24px 0 0;
            font-size: 15px;
        }

        @include mq('extra-desktop') {
            margin: 0 24px 0 0;
            font-size: 15px;
        }
    }

    &_button {
        @include mq('phone') {
            display: none;
        }
    }

    &_phone {
        letter-spacing: 0;

        @include mq('phone') {
            color: #fff;
            font-size: 13px;
        }

        @include mq('tablet') {
            margin: 0 0 0 20px;
            color: #fc642a;
            font-size: 13px;
        }

        @include mq('desktop') {
            margin: 0 0 0 24px;
            color: #fc642a;
            font-size: 15px;
        }

        @include mq('extra-desktop') {
            margin: 0 0 0 24px;
            color: #fc642a;
            font-size: 15px;
        }
    }
}
