.boutiques {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

    @include mq('phone') {
        min-height: 485px;
    }

    @include mq('tablet') {
        min-height: 405px;
    }

    @include mq('desktop') {
        min-height: 540px;
    }

    @include mq('extra-desktop') {
        min-height: 645px;
    }

    &_content {
        text-align: center;

        @include mq('phone') {
            width: 70%;
        }

        @include mq('tablet') {
            width: 60%;
        }

        @include mq('desktop') {
            width: 40%;
        }

        @include mq('extra-desktop') {
            width: 40%;
        }
    }
}
