.video {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;

    @include mq('phone') {
        height: 375px;
        margin: 0 0 30px;
    }

    @include mq('tablet') {
        height: 370px;
        margin: 0 0 95px;
    }

    @include mq('desktop') {
        height: 495px;
        margin: 0 0 130px;
    }

    @include mq('extra-desktop') {
        height: 665px;
        margin: 0 0 130px;
    }

    &_content {
        flex: 0 1 auto;
        text-align: center;
    }

    &_video {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    &_play {
        position: relative;
        z-index: 997;
        display: inline-block;
        width: 96px;
        height: 96px;
        margin: 10px 0 0;
        border: none;
        background-color: transparent;
        background-image: url("/assets/images/play-video.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        vertical-align: top;
        cursor: pointer;

        &:hover {
            background-position: -96px 0;
        }
    }
}
