.order {
    @include mq('phone') {
        position: fixed;
        top: 43px;
        right: 0;
        bottom: 0;
        left: 0;
        height: 42px;
        padding: 0 10px;
        background: #151515;
        line-height: 42px;
        text-align: right;
    }

    @include mq('tablet') {
        margin: 32px 0 0;
    }

    @include mq('desktop') {
        margin: 32px 0 0;
    }

    @include mq('extra-desktop') {
        margin: 32px 0 0;
    }

    &_price {
        display: inline-block;
        margin: 0 0 0 20px;
        font-size: 18px;
        line-height: 27px;
        vertical-align: baseline;

        @include mq('phone') {

        }

        @include mq('tablet') {

        }

        @include mq('desktop') {

        }

        @include mq('extra-desktop') {

        }
    }
}
