.main {
    @include mq('phone') {
        padding: 43px 0 0;
    }

    @include mq('tablet') {
        padding: 55px 0 0;
    }

    @include mq('desktop') {
        padding: 55px 0 0;
    }

    @include mq('extra-desktop') {
        padding: 55px 0 0;
    }
}
