.order {
    display: none;
    padding: 50px 0 30px;

    @include mq('phone') {
        padding: 30px 0 40px;
    }

    &__visible {
        display: block;
    }

    &_title {
        margin: 0 0 50px;
        text-align: center;

        @include mq('phone') {
            margin: 0 0 25px;
        }
    }

    &_form {
        margin: 0 0 40px;

        @include mq('phone') {
            margin: 0 0 25px;
        }
    }
}
