.masterpiece {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    @include mq('phone') {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include mq('tablet') {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @include mq('desktop') {
        padding-top: 130px;
        padding-bottom: 130px;
    }

    @include mq('extra-desktop') {
        padding-top: 130px;
        padding-bottom: 130px;
    }

    &_content {
        @include mq('phone') {
            flex: 0 1 90%;
        }

        @include mq('tablet') {
            flex: 0 1 39%;
        }

        @include mq('desktop') {
            flex: 0 1 39%;
        }

        @include mq('extra-desktop') {
            flex: 0 1 39%;
        }
    }

    &_photo {
        width: 100%;
    }

    &_creatista {
        max-width: 330px;
        margin: 65px 0 0;
    }
}
