.contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    @include mq('phone') {
        padding: 50px 0;
    }

    @include mq('tablet') {
        padding: 60px 0;
    }

    @include mq('desktop') {
        padding: 70px 0;
    }

    @include mq('extra-desktop') {
        padding: 130px 0;
    }

    &_content {
        text-align: center;

        @include mq('phone') {
            flex: 0 1 80%;
        }

        @include mq('tablet') {
            flex: 0 1 39%;
        }

        @include mq('desktop') {
            flex: 0 1 35%;
        }

        @include mq('extra-desktop') {
            flex: 0 1 39%;
        }

        &__delivery {

            @include mq('phone') {
                margin: 0 0 50px;
            }
        }

        &__phone {
            padding: 4px 0 0; /* Compensations different icon height */
        }
    }

    &_icon {
        margin: 0 0 27px;
    }

    &_link {
        display: inline-block;
        font-family: $font-AkzidenzGroteskProMd;
        line-height: 16px;
        text-transform: uppercase;
        vertical-align: top;
        letter-spacing: 1.3px;

        &__order {
            margin: 26px 0 0;
            font-size: 13px;
            letter-spacing: 1.3px;
        }

        &__phone {
            margin: 25px 0 0;
            font-size: 14px;
            letter-spacing: 1.4px;
        }
    }
}
