.masterpiece {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    @include mq('phone') {
        min-height: 150px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include mq('tablet') {
        height: 435px;
        padding-top: 160px;
        padding-bottom: 160px;
    }

    @include mq('desktop') {
        height: 525px;
        padding-top: 128px;
        padding-bottom: 128px;
    }

    @include mq('extra-desktop') {
        height: 637px;
        padding-top: 128px;
        padding-bottom: 128px;
    }

    &_content {
        @include mq('phone') {
            flex: 0 1 100%;
        }

        @include mq('tablet') {
            flex: 0 1 39%;
        }

        @include mq('desktop') {
            flex: 0 1 39%;
        }

        @include mq('extra-desktop') {
            flex: 0 1 39%;
        }

        &__photo {
            height: 100%;
            text-align: right;
        }
    }

    &_photo {
        display: inline-block;
        vertical-align: top;
        height: 100%;
    }

    &_creatista {
        display: inline-block;
        margin: 65px 0 0;
        vertical-align: top;
    }
}
