.button {
    display: inline-block;
    border: 2px solid #FC642A;
    background: transparent;
    color: #fff;
    font-family: $font-AkzidenzGroteskProMd;
    font-size: 13px;
    text-transform: uppercase;
    vertical-align: baseline;
    letter-spacing: 1.3px;
    cursor: pointer;
    transition: background .2s;

    &:hover {
        background: #fc642a;
    }

    &__small {
        height: 35px;
        padding: 0 20px;
        border-radius: 26px;

        @include mq('phone') {
            height: 32px;
            font-size: 11px;
            letter-spacing: .6px;
        }

        @include mq('tablet') {
            height: 35px;
            font-size: 11px;
            letter-spacing: 1.3px;
        }

        @include mq('desktop') {
            height: 35px;
            font-size: 13px;
            letter-spacing: 1.3px;
        }

        @include mq('extra-desktop') {
            height: 35px;
            font-size: 13px;
            letter-spacing: 1.3px;
        }
    }

    &__large {
        height: 54px;
        padding: 0 30px;
        border-radius: 37px;
    }

    &__extra-large {
        height: 54px;
        padding: 0 64px;
        border-radius: 37px;
    }
}
