.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;

    &__19bar {
        width: 72px;
        height: 72px;
        background-image: url("../images/icons/19bar.svg");
    }

    &__4cups {
        width: 72px;
        height: 72px;
        background-image: url("../images/icons/4cups.svg");
    }

    &__frothing {
        width: 72px;
        height: 72px;
        background-image: url("../images/icons/froathing.svg");
    }

    &__complete {
        width: 72px;
        height: 72px;
        background-image: url("../images/icons/complete.svg");
    }

    &__delivery {
        width: 44px;
        height: 50px;
        background-image: url("../images/icons/delivery.svg");
    }

    &__phone {
        width: 45px;
        height: 46px;
        background-image: url("../images/icons/phone.svg");
    }

    &__designer {
        width: 25px;
        height: 25px;
        background-image: url("../images/icons/designer.svg");
    }

    &__materials {
        width: 25px;
        height: 25px;
        background-image: url("../images/icons/materials.svg");
    }

    &__tank-volume {
        width: 16px;
        height: 24px;
        background-image: url("../images/icons/tank-volume.svg");
    }

    &__capsules {
        width: 24px;
        height: 20px;
        background-image: url("../images/icons/capsules.svg");
    }

    &__cup {
        width: 26px;
        height: 22px;
        background-image: url("../images/icons/cup.svg");
    }

    &__cappuccinator {
        width: 13px;
        height: 29px;
        background-image: url("../images/icons/cappuccinator.svg");
    }

    &__jar {
        width: 24px;
        height: 21px;
        background-image: url("../images/icons/jar.svg");
    }

    &__frequency-range {
        width: 24px;
        height: 16px;
        background-image: url("../images/icons/frequency-range.svg");
    }

    &__size {
        width: 21px;
        height: 28px;
        background-image: url("../images/icons/size.svg");
    }

    &__plug {
        width: 20px;
        height: 28px;
        background-image: url("../images/icons/plug.svg");
    }

    &__weight {
        width: 16px;
        height: 30px;
        background-image: url("../images/icons/weight.svg");
    }

    &__warranty {
        width: 24px;
        height: 24px;
        background-image: url("../images/icons/warranty.svg");
    }

    &__origin {
        width: 17px;
        height: 24px;
        background-image: url("../images/icons/origin.svg");
    }

    &__card {
        width: 30px;
        height: 20px;
        background-image: url("../images/icons/card.svg");
    }

    &__social-fb {
        width: 32px;
        height: 32px;
        background-image: url("../images/icons/social-fb.svg");
    }

    &__social-youtube {
        width: 28px;
        height: 32px;
        background-image: url("../images/icons/social-youtube.svg");
    }

    &__social-instagram {
        width: 32px;
        height: 32px;
        background-image: url("../images/icons/social-instagram.svg");
    }

    &__social-vk {
        width: 40px;
        height: 23px;
        background-image: url("../images/icons/social-vk.svg");
    }
}
