.quick-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;

    @include mq('phone') {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include mq('tablet') {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @include mq('desktop') {
        padding-top: 130px;
        padding-bottom: 130px;
    }

    @include mq('extra-desktop') {
        padding-top: 130px;
        padding-bottom: 130px;
    }

    &_content {
        text-align: center;

        @include mq('phone') {
            flex: 0 1 90%;
        }

        @include mq('tablet') {
            flex: 0 1 39%;
        }

        @include mq('desktop') {
            flex: 0 1 39%;
        }

        @include mq('extra-desktop') {
            flex: 0 1 39%;
        }

        &__text {
            @include mq('phone') {
                margin: 0 0 60px;
            }
        }

        &__photo {

        }
    }

    &_photo {
        width: 100%;
    }
}
