$font-BorkDisplayRegilar: "BorkDisplayRegilar", Helvetica, Arial, sans-serif;
$font-AkzidenzGroteskProLight: "AkzidenzGroteskProLight", Helvetica, Arial, sans-serif;
$font-AkzidenzGroteskProRegular: "AkzidenzGroteskProRegular", Helvetica, Arial, sans-serif;
$font-AkzidenzGroteskProMd: "AkzidenzGroteskProMd", Helvetica, Arial, sans-serif;
$font-AkzidenzGroteskProExt: "AkzidenzGroteskProExt", Helvetica, Arial, sans-serif;
